@charset "UTF-8";

body{
	background-color:  #ffaaaa;
	
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    text-align: center;
}

.musicList {
    list-style-type: none; /* デフォルトのリストスタイルを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
}

.musicList a {
	width:300px;
    display: block; /* 各a要素をブロックレベル要素に変更 */
    padding: 10px; /* 適切なパディングを追加 */
    text-decoration: none; /* 下線を削除 */
    text-align: center;
    color: black; /* テキストの色を黒に設定 */
}

.musicList a:hover {
    background-color: hotpink; /* ホバー時に背景色を変更 */
}

.buttonContainer{
	display: flex;
  	flex-direction: row;
  	padding: 10px;
  	mergin: 10px;
	
}

#random{
	width:200px;
	padding: 10px;
	color: black;
	text-decoration: none;
	background-color: cyan;
	
	border-radius: 100vh;
	
}

#random:hover{
	opacity: 0.5;
}
